@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');
.container{
    padding-left: 2vw;
    padding-right: 2vw;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    height: 70vh;
}
.me-img{
    height: 100%;
    width: 30vw;
    box-shadow: 0px 13px 16px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    
}

.right-col{
    text-align: center;
    margin-left: 20px;
}
.left-col{
    display: flex;

    flex-direction: column;
}
.top-row{
    display: flex;
    align-items: center;
    height: 50%;
}
.bottom-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50%;
}
.about-me-text{
    font-family: 'Permanent Marker', cursive;
    margin: 0;
    text-align: center;
    font-size: 55px;
    text-shadow: 0px 8px 9px #00B6EF;
    color:#333;
}
.skill-container{
    display: grid;
    grid-template-rows: auto auto;
    text-align: center;
    background: rgba(0, 183, 239, 0.50);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 13px 16px rgba(0, 0, 0, 0.25);
}
@media screen and (max-width: 800px) {
    .container{
        display: block;
        height: 75vh;
    }
    .left-col{
        height: 40%;
    }
    .right-col{
        margin-left: 0px;
        height: 60%;
    }
    .skill-container{
        margin: 10px;
    }
    .me-img{
        width: 100%;
    }
    
    .about-me-text{
        font-size: 30px;
    }
  }