.logo {
  font-family: dimitri;
  margin: 0;
  margin-left: 1rem;
  font-size: 3rem;
  text-shadow: 0px 3px 3px #00b6ef;
  color: #ebebeb;
}
.logo:hover {
  text-shadow: 0px 3px 3px #ebebeb;
  color: #00b6ef;
}
a {
  text-decoration: none;
}
h1 {
  margin: 0;
}
@media screen and (max-width: 800px) {
  .logo {
    font-size: 3rem;
  }
}
