@import url('https://fonts.googleapis.com/css?family=Bungee&display=swap');
.App {
    background: #00B6EF;    
    font-family: Bungee;
    font-style: normal;
    font-weight: normal;
    height: 100vh;
    
}
/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
 background: #5E5757;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(0, 195, 255); 
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #29f07c; 
}

