@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');
.App { 
  font-family: 'Permanent Marker', cursive;
  display: grid;
  grid-template-rows: auto auto auto;
  height: 100vh;
}
/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  color: transparent;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(0, 195, 255); 
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #333; 
}

