.footer{
    width: 100%;
    height: 10vh;
}
.iconLinks{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
.contactInfo{
    text-align: center;
}
.icon:hover{
    transform: scale(1.5);
}