@import url('//fonts.googleapis.com/css?family=Comfortaa');

.projects-container{
    padding-left: 25vw;
    padding-right: 25vw;
    padding: 10px;
    font-family: comfortaa;
}
.project-list-container{
    margin-top: 20px;
    text-align: justify;
    padding: 30px;
    color: #333;
}
.project-comp{
    margin: 100px;
}

@media screen and (max-width: 800px) {
    .projects-container{
       
        
    }
    .project-list-container{
        
    }
   }