.projImg{
    height: 50vh;
    width: 75%;
    box-shadow: 0px 13px 16px rgba(0, 0, 0, 0.25);
    margin: 3rem;
}
.projContainer{
    padding: 3rem;
    margin: 3rem;
    background: #f8f8ff;
    box-shadow: 10px 10px 10px #00b7ef;
    text-align: justify;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.projName{
    text-align: center;
}
.desc{
    text-align: left;
    padding: 10px;
    font-size: 1rem;
}
.githubLink{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.githubSVG{
    height: 2rem;
    width: 2rem;
}
.githubSVG:hover {
    transform: scale(1.5);
}
.githubText{
    font-size: .7rem;
}
@media screen and (max-width: 800px) {
    .projContainer{
        padding: 1rem;
    }
    .projImg{
        height: 25vh;
        margin: 1rem;
    }
    .desc{
        font-size: .8rem;
    }
  }